<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES - Quem somos</title>
<style>
    *{
        margin: 0px;
        padding-left: 0px;
    }

    .link{
        margin-left: 780px;
    }
    
    .imagem{
        margin-left: 50px;
        padding-top: 20px;
    }

    p{
        margin-left: 50px;
        padding-top: 20px;
        max-width: 1180px;
    }

    h2{
        margin-left: 50px;
        padding-top: 30px;
    }

    ol{
        margin-left: 70px;
        padding-top: 30px;
    }

    h5{
        margin-left: 530px;
        padding-top: 40px;
    }

</style>

</head>
<body background="..\static\img\fundo2.png">
    <div>

        <img src="..\static\img\logo.png" class="imagem" alt="logo.png">
        <a href= "/Home"class="link">Home</a>
        <a href= "/Quem_Somos"target="_self">Quem Somos</a>
        <a href= "/Contato"target="_self">Contato</a>
    
    </div>

    <h2>Quem somos:</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, nesciunt deserunt. Fugiat ab assumenda, dolor minima odio repellendus sit, facilis eum soluta quisquam optio explicabo quibusdam earum. Iste, quod deserunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quisquam, incidunt sunt fuga ut at odio aspernatur, omnis cupiditate excepturi quia nobis sit nostrum itaque. Repudiandae consequuntur earum totam. Excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam praesentium voluptatibus dolorum blanditiis tenetur temporibus eaque eius fuga, quaerat enim quas, atque neque sed, nisi perferendis fugit obcaecati expedita iusto!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum sed, facere magni eaque quaerat quae nulla sint sit quod aliquam autem odit inventore, nostrum quas cumque illo ad id placeat?
    </p>


    <div>
        <h2>5 Motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
    
    </div>

    <div>
        <h2>Objetivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam doloremque dolores maiores nemo quasi. Deserunt similique veritatis corrupti dicta soluta culpa dolore unde, ullam esse minima modi. Numquam, reprehenderit fuga!Lorem
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci pariatur sunt excepturi, enim fugiat qui quo rem. Quos labore porro, temporibus fugit, at itaque, similique expedita corporis quam veritatis repellat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi atque odit et ullam est incidunt debitis. Inventore magnam perspiciatis ipsa eius vitae soluta labore obcaecati rerum porro. Fugiat, nobis officiis!
    </p>

    </div>

    <div>
        <h5><b>Todos os direitos reservados</b></h5>
    </div>

</body>
</html>